---
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greeting"

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Página Inicial</h2>
	<Greeting client:load messages={["Oi", "Olá", "Bem-vindo", "Hei cara", "Olá de novo"]}/>
</BaseLayout>