---
const platform = "github";
const username = "Salva01-ui";
import Social from './Social.astro'
---

<footer class="mt-5 ">
    <hr>
    <p>Encontre meus outros projetos em <a href={`https://${platform}.com/${username}`}>{platform}</a>!</p>

    <Social platform="youtube" username="@setprogramacao"/>
    <Social platform="instagram" username="setprogramacao"/>
</footer>