---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="bg-gray-800 text-white px-6 py-8">
    <nav class="flex justify-between">
        
        <div class="flex items-center space-x-4"> <Navigation/> </div>
        <div> <ThemeIcon/> </div>
        
    </nav>
</header>