
<a href="/">Página inicial</a>
<a href="/about/">Sobre</a>
<a href="/blog/">Blog</a>

<style>
    a{
        padding: 2px 6px;
        transition: all ease-in-out .3s;
        font-weight: 700;
    }

    a:hover{
        color: rgb(208, 250, 255);
    }
</style>